<html>
	<head>
		<title>Bac·a·sable</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="/libs/bootstrap/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>

		Recherche
		
		<div id="body-wrapper">
		</div>

		<script src="/libs/vendor.js"></script>
		<script src="/libs/bundle.js"></script>
		<script>
			bundle.lanceur.lancer();
		</script>
	</body>
</html>