<html>
	<head>
		<title>Bac·a·sable</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<div id="body-wrapper">
		</div>

		<script src="/libs/vendor.js"></script>
		<script src="/libs/bundle.js"></script>
		<script>
			bundle.lanceur.lancer();
			document.getElementById('body-wrapper').innerText=JSON.stringify(bundle.lanceur.applicationClient.page);
		</script>
	</body>
</html>